# Ignorar arquivos Python compilados
__pycache__/
*.pyc

# Ignorar arquivos de ambiente virtual
venv/
.env

# Ignorar arquivos de banco de dados SQLite
*.sqlite3

# Ignorar arquivos de configuração do VS Code
.vscode/
